body{
    background-color: aquamarine;
}

button{
    width: 100px;
    height: 30px;
    background-color: orange;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}